.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-tag {
  bottom: auto;
  top: 24px;
}
.tags {
  position: absolute;
  color: #ffd700;
  font-family: "la belle aurore";
  font-size: 16px;
  opacity: 0.6;
  left: 120px;
  bottom: 0;
}

.bottom-tag {
  bottom: 20px;
}
.bottom-tag-html {
  margin-left: -20px;
}
