.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.menu-bar {
  position: absolute;
  right: 8px;
  top: 8px;
  border: 0.5px solid white;
  padding: 3px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  display: none;
  @media screen and (max-width: 480px) {
    display: flex;
  }
}
.top-tag {
  bottom: auto;
  top: 24px;
  // width: 95%;
  // background-color: red;
  @media screen and (max-width: 480px) {
    top: 16px;
  }
}
.tags {
  position: absolute;
  color: #ffd700;
  font-family: "la belle aurore";
  font-size: 16px;
  opacity: 0.6;
  left: 120px;
  bottom: 0;
  @media screen and (min-width: 481px) and (max-width: 768px) {
    left: 85px;
  }
  @media screen and (max-width: 480px) {
    font-size: 12px;
    left: 16px;
  }
}

.bottom-tag {
  bottom: 20px;
}
.bottom-tag-html {
  margin-left: -20px;
  @media screen and (max-width: 480px) {
    margin-left: -10px;
  }
}

.container {
  will-change: contents;
  width: 100%;
  height: 90%;
  position: absolute;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  min-height: 566px;
  opacity: 0;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  @media screen and (max-width: 480px) {
  }
}
