.home-page {
  .text-area {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 40%;
    max-height: 90%;
  }
  h1 {
    color: white;
    font-size: 53px;
    font-family: "coolvetica";
    font-weight: 400;
    white-space: nowrap;
    margin: 0;
    &::before {
      content: "<h1>";
      position: absolute;
      font-family: "la belle aurore";
      color: #ffd700;
      opacity: 0.6;
      font-size: 18px;
      left: 15px;
      margin-top: -40px;
    }
    &::after {
      content: "</h1>";
      position: absolute;
      font-family: "la belle aurore";
      color: #ffd700;
      opacity: 0;
      font-size: 18px;
      margin-left: 20px;
      margin-top: 18px;
      animation: fadeIn 1.3s forwards;
      animation-delay: 2.4s;
    }
    img {
      width: 42px;
      margin-left: 20px;
      height: auto;
      opacity: 0;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
  h2 {
    color: #8d8d8d;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 400;
    margin-top: 20px;
    font-family: sans-serif;
    white-space: nowrap;
    opacity: 0;
    animation: fadeIn 1.5s 1.8s forwards;
  }
  .flat-btn {
    text-decoration: none;
    color: #ffd700;
    border: 1px solid #ffd700;
    padding: 10px 20px;
    font-family: sans-serif;
    letter-spacing: 3px;
    white-space: nowrap;
    margin-top: 25px;
    background-color: transparent;
    opacity: 0;
    animation: fadeIn 1.5s 1.8s forwards;
    &:hover {
      cursor: pointer;
      color: #8d8d8d;
      background-color: #ffd700;
      transition: all 0.5s;
    }
  }
}
