body {
  margin: 0;
  color: #444;
  background-color: #022c43;
  font: 300 11px/1.4 "Helvetica Neue", "sans-serif";
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
